.leftContent {
  width: 400px;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
}

.iphone {
  width: 300px;
}

.button {
  margin-top: 16px;
  margin-bottom: 16px;
}

.dragCaption {
  color: #bbb;
  font-size: 14px;
}
