body {
  font-family: 'Proxima Nova', sans-serif;
}

.download:visited,
.download:link,
.download {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: block;
  padding-top: 12px;
  font-weight: 400;
}

.download-button {
  width: 120px;
  height: 36px;
  background-color: #0099ff;
  margin: 16px auto;
  border-radius: 2px;
}

.file-input {
  margin: 0 auto;
  display: block;
  padding: 16px 0 16px 0;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 8px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

h3 {
  margin-bottom: 8px;

  color: #999;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
}

h4 {
  margin-bottom: 8px;

  color: #999;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.25;
}

p {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 300;
  color: #555555;

  margin-bottom: 16px;
}

/* Fonts */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Semibold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
