.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 32px 32px 0 32px;
}

.nav__link,
.nav__link:visited,
.nav__link:link,
.nav__link:active {
  color: #999;
  text-decoration: none;
  transition: color 0.2s ease;
  padding: 0 16px;
}

.nav__link:hover {
  color: #0099ff;
}

.content {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

.rightBackground {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  width: 83.55vh;
  position: fixed;
  top: 0;
  right: -15vh;
  z-index: -1;
}
