.container {
  position: relative;
  min-height: 100vh;
}

.nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 32px;
}

.nav__link,
.nav__link:visited,
.nav__link:link,
.nav__link:active {
  color: #999;
  font-size: 11px;
  text-decoration: none;
  transition: color 0.2s ease;
  padding: 0 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav__link:hover {
  color: #0099ff;
}

.disableBackground {
  background-color: rgba(0,0,0,0);
}

.content {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

.rightBackground {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  width: 83.55vh;
  position: fixed;
  top: 0;
  right: -15vh;
  z-index: -1;
}

.footer {
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  padding-bottom: 16px;

  color: #bbb;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.footer a:visited,
.footer a:link,
.footer a:active {
  text-decoration: none;
  color: #bbb;
}

@media screen and (min-width: 600px) {
  .rightBackground {
    right: -55vh;
  }
}

@media screen and (min-width: 900px) {
  .rightBackground {
    right: -35vh;
  }
}

@media screen and (min-width: 1100px) {
  .rightBackground {
    right: -15vh;
  }
}

@media screen and (max-width: 600px) {
  .rightBackground {
    display: none;
  }

  .footer {
    display: none;
  }
}
